@model MenuItem

@{
    ViewData["Title"] = $"{@Model.ItemName}";
}
<h1>@Model.ItemName</h1>
<h2>&euro;@Model.Price - @Model.Stock left in stock</h2>
@if (Model.Category != null)
{
    <p>Category - @Model.Category.CategoryName</p>
}
<p>@Model.ItemDescription</p>
<img src="/img/menu-item/@Model.ImageURL" class="img-fluid rounded" alt="@Model.ItemName"/>
<a href="/Order/Menu#@Model.MenuItemId" class="btn btn-primary">
    Return to Menus
</a>