@model MenuItem

@{
    Employee? loggedInEmployee = (Employee?)ViewData["LoggedInEmployee"];
    bool userIsAuthenticated = User.Identity?.IsAuthenticated ?? false;
}

@{
    string cardStyle = string.Empty;
    if (@Model.Stock > 12 || !(userIsAuthenticated))
    {
        cardStyle = "";
    }
    else if (Model.Stock > 0)
    {
        cardStyle = "bg-warning";
    }
    else
    {
        cardStyle = "bg-danger text-white";
    }
}

<a href="/Order/MenuItem/@Model.MenuItemId" class="text-decoration-none text-black">
    <div class="card h-100 @cardStyle">
        <img src="/img/menu-item/@Model.ImageURL" class="card-img-top" alt="@Model.ItemName" style="height: 200px; object-fit: cover;">
        <div class="card-body">
            <h5 class="card-title">@Model.ItemName</h5>
            <p class="card-text">&euro;@Model.Price
                @if (userIsAuthenticated)
                {
                    <span> - @Model.Stock left in stock</span>                 
                }
            </p>
        </div>
    </div>
</a>