@using ProjectChapeau.Models.Enums
@model ProjectChapeau.Models.ViewModel.TableEditViewModel;

@{
    ViewData["Title"] = "Edit Table Information";
}

<h1>@ViewData["Title"]</h1>

<partial name="_ErrorMessage" />

<form asp-controller="Tables" asp-action="Edit" method="post" class="w-50 mx-auto">
    <input type="hidden" name="tableID" value="@Model?.tableID" />
    <input type="hidden" name="orderId" value="@Model?.orderId"/>

    <div class="mb-4">
        <label class="form-label d-block fw-semibold mb-2">Is Table Occupied?</label>

        <div class="btn-group" role="group" aria-label="Is Table Occupied">
            <input type="radio" class="btn-check" name="IsOccupied" id="IsOccupiedFalse" autocomplete="off" value="False" @(Model?.isOccupied == false ? "checked" : "") />
            <label class="btn btn-outline-success" for="IsOccupiedFalse">Free</label>

            <input type="radio" class="btn-check" name="IsOccupied" id="IsOccupiedTrue" autocomplete="off" value="True" @(Model?.isOccupied == true ? "checked" : "") />
            <label class="btn btn-outline-danger" for="IsOccupiedTrue">Occupied</label>
        </div>

    </div>
    <div class="mb-4">
        <label class="form-label d-block fw-semibold mb-2">Order Status</label>
        <div class="btn-group" role="group" aria-label="Order Status">
            @{
                if(Model?.currentOrderStatus == null || Model?.currentOrderStatus == OrderStatus.Completed)
                {
                    <p>No Active order please make one first</p>
                }
                else
                {
                    foreach (OrderStatus status in Model.orderStatusOptions)
                    {
                        string statusValue = status.ToString();
                        string isChecked = Model?.currentOrderStatus == status ? "checked" : "";

                        <input type="radio" class="btn-check" name="currentOrderStatus" id="orderStatus_@statusValue" autocomplete="off" value="@statusValue" @isChecked/>
                        <label class="btn btn-outline-primary" for="orderStatus_@statusValue">@statusValue</label>
                    }
                }
            }

        </div>
    </div>

    <div class="d-flex justify-content-center gap-3">
        <button type="submit" class="btn btn-primary px-4">Save Changes</button>
        <a href="/Tables/Index" class="btn btn-secondary px-4">Back to Tables</a>
    </div>
</form>