@model List<ProjectChapeau.Models.Employee>

@{
    ViewData["Title"] = "Employee Page";
    Employee? loggedInEmployee = (Employee?)ViewData["LoggedInEmployee"];
}

<partial name="_ConfirmMessage" />

<a href="/Employee/Create" class="btn btn-primary mb-3">Create New</a>
<table class="table table-hover table-bordered align-middle">
    <thead class="table-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Username</th>
            <th scope="col">Active</th>
            <th scope="col">Role</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Employee employee in Model)
        {

            <tr class="">
                <th scope="row">@employee.employeeId</th>
                <td>@employee.firstName</td>
                <td>@employee.lastName</td>
                <td>@employee.userName</td>
                <td>@(employee.isActive ? "Yes" : "No")</td>
                <td>@employee.role.roleName</td>
                <td>
                    <a href="/Employee/Edit/@employee.employeeId" class="btn btn-sm btn-warning me-1">Edit</a>
                    <a href="/Employee/Delete/@employee.employeeId" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
